$product-width: 330px;
$blank-width: 16px;

.li {
  position: relative;
  display: inline-block;
  width: $product-width;
  height: $product-width;
  margin: 15px;
  overflow: hidden;
}
.link:hover {
  .imgLayer {
    // opacity: 0.1;
    // transition: opacity 0.3s;
  }
}
.img {
  width: 100%;
  height: 100%;
}
.imgLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: black;
  opacity: 0;
}
.content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  padding: 14px;
  background-color: #ffffff;
}
.name,
.title {
  line-height: 1.5;
  font-size: 16px;
  color: #252525;
}
.priceContent {
  display: inline-block;
  margin-top: 5px;
  .totalPrice {
    line-height: 1.3;
    color: #ec3f3f;
    font-size: 20px;
    font-weight: 900;
  }
  .price {
    color: #727272;
    font-size: 12px;
  }
}
.reportContent {
  position: absolute;
  right: 14px;
  bottom: 12px;
  width: 50px;
  text-align: right;
  cursor: pointer;
  &:hover {
    img {
      transform: rotate(30deg);
    }
  }
  img {
    width: 13px;
    height: 13px;
    margin-right: 4px;
    vertical-align: sub;
  }
  span {
    color: #7e7e7e;
    font-size: 13px;
  }
}